body{
    background-color: #e2781b;
}

h2{
    text-align: center;
}

.no-data{
    color: #e74c3c;
    display: flex;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .box{
    margin-left: 180px;
  }

  #box-case {
    width: 20%;
    display: flex;
    float: left;
    background-color: #517740;
    color: #fff;
    padding: 14px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    flex-direction: column;
  }

  #box-case1 {
    width: 20%;
    display: flex;
    float: left;
    background-color: #38905e;
    color: #fff;
    padding: 14px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    border-radius: 20px;
    flex-direction: column;
  }

  #box-case2 {
    width: 20%;
    display: flex;
    float: left;
    background-color: #40cc8d;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    border-radius: 20px;
    flex-direction: column;
  }

  .box1{
    margin-left: 180px;
  }

  #box-case3 {
    width: 20%;
    display: flex;
    float: left;
    background-color: #60e8aa;
    color: #fff;
    padding: 14px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    border-radius: 20px;
    flex-direction: column;
  }

  #box-case4 {
    width: 20%;
    display: flex;
    float: left;
    background-color: #84e5ba;
    color: #fff;
    padding: 14px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    border-radius: 20px;
    flex-direction: column;
    
  }

  #box-case5 {
    width: 20%;
    display: flex;
    float: left;
    background-color: #a6f3d0;
    color: #fff;
    padding: 14px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    border-radius: 20px;
    flex-direction: column;
  }
  
  #search-form {
    width: 30%;
    display: block;
    margin: auto;
    height: 110px;
  }
  
  #search-form h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 25px;
  }
  
  #search-form input {
    width: 60%;
    border: none;
    outline: none;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 20px;
  }
  
  #search-form button {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #1d4562;
    color: #fff;
    border-radius: 50px;
  }
  
  #container {
    background-color: rgb(255, 160, 44);
    margin: 100px;
    padding: 100px;
    box-shadow: 5px 5px 10px 15px rgb(133, 190, 104);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
  }
  